@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Caveat+Brush&family=Nanum+Brush+Script&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* ── 외부 배경 ── */
.page-wrapper {
    min-height: 68vh;
    padding: 4px 19px 28px;
    background-color: #E9F3FA;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

/* ── 타이틀 ── */
.main-title {
    font-family: "Abril Fatface", serif;
    font-size: 67px;
    font-weight: 600;
    color: #4654A2;
    letter-spacing: 1.2px;
    text-align: center;
    margin-bottom: 4px;
}

/* ── 틀 ── */
.card-container {
    width: 100%;
    max-width: 420px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

/* ── 상단/하단 정보 바 ── */
.info-bar {
    display: grid;
    grid-template-columns: 60px 60px 60px 1fr;
    border-top: 2px solid #65759F;
    border-bottom: 2px solid #65759F;
}

.info-cell {
    padding: 4px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1px;
    border-right: 2px solid #65759F;
}

.info-cell:last-child {
    border-right: none;
}

.info-label {
    font-size: 10px;
    letter-spacing: -0.3px;
    color: #65759F;
    text-transform: uppercase;
}

.info-value {
    font-family: "Caveat Brush", cursive;
    font-size: 25px;
    line-height: 30px;
}

.host-name {
    font-family: "Nanum Brush Script", cursive;
    font-size: 30px;
    font-weight: 600;
    line-height: 1;
}
