@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Nanum+Pen+Script&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet');

* {
  font-family: 'Noto Sans', sans-serif;
  background-color: #E9F3FA;
  box-sizing: border-box;
}

body {
  font-size: 14px;
  color: #4C60C3;
  font-weight: 500;
}